{%  extends 'base.html.twig' %}
{% block header %}
    {{ parent() }}
{% endblock %}
{%  block content %}

    <body>


    <!-- Content
    ================================================== -->
    <div id="titlebar" class="white margin-bottom-30">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Posts</h2>
                    <span>Featured Posts</span>

                    <!-- Breadcrumbs -->
                    <nav id="breadcrumbs" class="dark">
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li>Posts</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <!-- Recent Blog Posts -->
    <div class="section white padding-top-0 padding-bottom-60 full-width-carousel-fix">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="blog-carousel">



                        {% for p in posts %}

                        <a href="{{ path('details_post', { 'id': p.id }) }}" class="blog-compact-item-container">
                            <div class="blog-compact-item">
                                <img src="{{ asset('images/blog-07a.jpg')}}" alt="">
                                <span class="blog-item-tag">Recruiting</span>
                                <div class="blog-compact-item-content">
                                    <ul class="blog-post-tags">
                                        <li>{{ p.datePost |date("d/m/Y") }}</li>
                                    </ul>
                                    <h3>{{ p.titrepost }}</h3>
                                    <p>{{ p.description }}.</p>
                                    <p>{{ facebookButton( { 'facebook': {'locale':'fr_FR', 'send':true}} ) }}</p>
                                </div>
                            </div>
                        </a>

                        {% endfor %}

                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- Recent Blog Posts / End -->


    <!-- Section -->
    <div class="section gray">
        <div class="container">
            <center>
                {% if app.session.flashBag.has('success') %}
                    <div class="alert alert-success">
                        {% for msg in app.session.flashBag.get('success') %}
                            {{ msg }}
                        {% endfor %}
                    </div>
                {% endif %}
            </center>
            <center>
                <form action="" method="POST">
                <div class="input-with-icon">
                    <input id="autocomplete-input" type="text" name="searsh" placeholder="Search">
                    <i class="icon-material-outline-search"></i>
                    <button class="btn btn-primary">searsh</button>
                </div>
                </form>
            </center>
            <div class="row">
                <div class="col-xl-8 col-lg-8">

                    <!-- Section Headline -->
                    <div class="section-headline margin-top-60 margin-bottom-35">
                        <h4>Recent Posts</h4>
                    </div>

                    <!-- Blog Post -->


                    <!-- Blog Post -->


                    <!-- Blog Post -->
                    {% for p in posts %}
                    <a href="{{ path('details_post', { 'id': p.id }) }}" class="blog-post">
                        <!-- Blog Post Thumbnail -->
                        <div class="blog-post-thumbnail">
                            <div class="blog-post-thumbnail-inner">

                                <span class="blog-item-tag"><h3>{{ p.titrepost }}</h3></span>
                                <img src="{{ asset('images/blog-03a.jpg')}}" alt="">
                            </div>
                        </div>
                        <!-- Blog Post Content -->
                        <div class="blog-post-content">
                            {% if user.id|number_format != p.userid.id|number_format %}


                            {% elseif user.id|number_format == p.userid.id|number_format %}
                                <p style="color: red">*Nb :Your Post</p> <br>
                            {% endif %}
                            <span class="blog-post-date">{{ p.datePost |date("d/m/Y") }}</span>
                            <h3>Deadline:{{ p.deadline }} Days</h3>
                            <p>{{ p.description }}. </p>
                            <p>{{ facebookButton( { 'facebook': {'locale':'fr_FR', 'send':true}} ) }}</p>
                        </div>
                    </a>
                    {% endfor %}



                    <!-- Pagination -->
                    <div class="clearfix"></div>
                    <div class="row">
                        <div class="col-md-12">
                            <!-- Pagination -->
                            <div class="pagination-container margin-top-10 margin-bottom-20">
                                <nav class="pagination">
                                    <ul>
                                        <li><a href="#" class="current-page ripple-effect">1</a></li>
                                        <li><a href="#" class="ripple-effect">2</a></li>
                                        <li><a href="#" class="ripple-effect">3</a></li>
                                        <li class="pagination-arrow"><a href="#" class="ripple-effect"><i class="icon-material-outline-keyboard-arrow-right"></i></a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <!-- Pagination / End -->

                </div>


                <div class="col-xl-4 col-lg-4 content-left-offset">
                    <div class="sidebar-container margin-top-65">

                        <!-- Location -->
                        <div class="sidebar-widget margin-bottom-40">
                            <div class="input-with-icon">
                                <input id="autocomplete-input" type="text" placeholder="Search">
                                <i class="icon-material-outline-search"></i>
                            </div>
                        </div>

                        <!-- Widget -->
                        <div class="sidebar-widget">

                            <h3>Trending Posts</h3>
                            <ul class="widget-tabs">

                                <!-- Post #1 -->
                                <li>
                                    <a href="pages-blog-post.html" class="widget-content active">
                                        <img src="{{ asset('images/blog-02a.jpg')}}" alt="">
                                        <div class="widget-text">
                                            <h5>How to "Woo" a Recruiter and Land Your Dream Job</h5>
                                            <span>29 June 2018</span>
                                        </div>
                                    </a>
                                </li>

                                <!-- Post #2 -->
                                <li>
                                    <a href="pages-blog-post.html" class="widget-content">
                                        <img src="{{ asset('images/blog-07a.jpg')}}" alt="">
                                        <div class="widget-text">
                                            <h5>What It Really Takes to Make $100k Before You Turn 30</h5>
                                            <span>3 June 2018</span>
                                        </div>
                                    </a>
                                </li>
                                <!-- Post #3 -->
                                <li>
                                    <a href="pages-blog-post.html" class="widget-content">
                                        <img src="{{ asset('images/blog-04a.jpg')}}" alt="">
                                        <div class="widget-text">
                                            <h5>5 Myths That Prevent Job Seekers from Overcoming Failure</h5>
                                            <span>5 June 2018</span>
                                        </div>
                                    </a>
                                </li>
                            </ul>

                        </div>
                        <!-- Widget / End-->


                        <!-- Widget -->
                        <div class="sidebar-widget">
                            <h3>Social Profiles</h3>
                            <div class="freelancer-socials margin-top-25">
                                <ul>
                                    <li><a href="#" title="Dribbble" data-tippy-placement="top"><i class="icon-brand-dribbble"></i></a></li>
                                    <li><a href="#" title="Twitter" data-tippy-placement="top"><i class="icon-brand-twitter"></i></a></li>
                                    <li><a href="#" title="Behance" data-tippy-placement="top"><i class="icon-brand-behance"></i></a></li>
                                    <li><a href="#" title="GitHub" data-tippy-placement="top"><i class="icon-brand-github"></i></a></li>
                                </ul>
                            </div>
                        </div>

                        <!-- Widget -->
                        <div class="sidebar-widget">
                            <h3>Tags</h3>
                            <div class="task-tags">
                                <a href="#"><span>employer</span></a>
                                <a href="#"><span>recruiting</span></a>
                                <a href="#"><span>work</span></a>
                                <a href="#"><span>salary</span></a>
                                <a href="#"><span>tips</span></a>
                                <a href="#"><span>income</span></a>
                                <a href="#"><span>application</span></a>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

        <!-- Spacer -->
        <div class="padding-top-40"></div>
        <!-- Spacer -->

    </div>
    <!-- Section / End -->

    <!-- Footer
    ================================================== -->
    <div id="footer">

        <!-- Footer Top Section -->
        <div class="footer-top-section">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">

                        <!-- Footer Rows Container -->
                        <div class="footer-rows-container">

                            <!-- Left Side -->
                            <div class="footer-rows-left">
                                <div class="footer-row">
                                    <div class="footer-row-inner footer-logo">
                                        <img src="images/logo2.png" alt="">
                                    </div>
                                </div>
                            </div>

                            <!-- Right Side -->
                            <div class="footer-rows-right">

                                <!-- Social Icons -->
                                <div class="footer-row">
                                    <div class="footer-row-inner">
                                        <ul class="footer-social-links">
                                            <li>
                                                <a href="#" title="Facebook" data-tippy-placement="bottom" data-tippy-theme="light">
                                                    <i class="icon-brand-facebook-f"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" title="Twitter" data-tippy-placement="bottom" data-tippy-theme="light">
                                                    <i class="icon-brand-twitter"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" title="Google Plus" data-tippy-placement="bottom" data-tippy-theme="light">
                                                    <i class="icon-brand-google-plus-g"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" title="LinkedIn" data-tippy-placement="bottom" data-tippy-theme="light">
                                                    <i class="icon-brand-linkedin-in"></i>
                                                </a>
                                            </li>
                                        </ul>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>

                                <!-- Language Switcher -->
                                <div class="footer-row">
                                    <div class="footer-row-inner">
                                        <select class="selectpicker language-switcher" data-selected-text-format="count" data-size="5">
                                            <option selected>English</option>
                                            <option>Français</option>
                                            <option>Español</option>
                                            <option>Deutsch</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- Footer Rows Container / End -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer Top Section / End -->

        <!-- Footer Middle Section -->
        <div class="footer-middle-section">
            <div class="container">
                <div class="row">

                    <!-- Links -->
                    <div class="col-xl-2 col-lg-2 col-md-3">
                        <div class="footer-links">
                            <h3>For Candidates</h3>
                            <ul>
                                <li><a href="#"><span>Browse Jobs</span></a></li>
                                <li><a href="#"><span>Add Resume</span></a></li>
                                <li><a href="#"><span>Job Alerts</span></a></li>
                                <li><a href="#"><span>My Bookmarks</span></a></li>
                            </ul>
                        </div>
                    </div>

                    <!-- Links -->
                    <div class="col-xl-2 col-lg-2 col-md-3">
                        <div class="footer-links">
                            <h3>For Employers</h3>
                            <ul>
                                <li><a href="#"><span>Browse Candidates</span></a></li>
                                <li><a href="#"><span>Post a Job</span></a></li>
                                <li><a href="#"><span>Post a Task</span></a></li>
                                <li><a href="#"><span>Plans & Pricing</span></a></li>
                            </ul>
                        </div>
                    </div>

                    <!-- Links -->
                    <div class="col-xl-2 col-lg-2 col-md-3">
                        <div class="footer-links">
                            <h3>Helpful Links</h3>
                            <ul>
                                <li><a href="#"><span>Contact</span></a></li>
                                <li><a href="#"><span>Privacy Policy</span></a></li>
                                <li><a href="#"><span>Terms of Use</span></a></li>
                            </ul>
                        </div>
                    </div>

                    <!-- Links -->
                    <div class="col-xl-2 col-lg-2 col-md-3">
                        <div class="footer-links">
                            <h3>Account</h3>
                            <ul>
                                <li><a href="#"><span>Log In</span></a></li>
                                <li><a href="#"><span>My Account</span></a></li>
                            </ul>
                        </div>
                    </div>

                    <!-- Newsletter -->
                    <div class="col-xl-4 col-lg-4 col-md-12">
                        <h3><i class="icon-feather-mail"></i> Sign Up For a Newsletter</h3>
                        <p>Weekly breaking news, analysis and cutting edge advices on job searching.</p>
                        <form action="#" method="get" class="newsletter">
                            <input type="text" name="fname" placeholder="Enter your email address">
                            <button type="submit"><i class="icon-feather-arrow-right"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer Middle Section / End -->

        <!-- Footer Copyrights -->
        <div class="footer-bottom-section">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        © 2018 <strong>Hireo</strong>. All Rights Reserved.
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer Copyrights / End -->

    </div>
    <!-- Footer / End -->

    </div>
    <!-- Wrapper / End -->

    <!-- Scripts
    ================================================== -->
    <script src="{{ asset('js/jquery-3.3.1.min.js')}}"></script>
    <script src="{{ asset('js/jquery-migrate-3.0.0.min.js')}}"></script>
    <script src="{{ asset('js/mmenu.min.js')}}"></script>
    <script src="{{ asset('js/tippy.all.min.js')}}"></script>
    <script src="{{ asset('js/simplebar.min.js')}}"></script>
    <script src="{{ asset('js/bootstrap-slider.min.js')}}"></script>
    <script src="{{ asset('js/bootstrap-select.min.js')}}"></script>
    <script src="{{ asset('js/snackbar.js')}}"></script>
    <script src="{{ asset('js/clipboard.min.js')}}"></script>
    <script src="{{ asset('js/counterup.min.js')}}"></script>
    <script src="{{ asset('js/magnific-popup.min.js')}}"></script>
    <script src="{{ asset('js/slick.min.js')}}"></script>
    <script src="{{ asset('js/custom.js')}}"></script>

    <!-- Snackbar // documentation: https://www.polonel.com/snackbar/ -->
    <script>
        // Snackbar for user status switcher
        $('#snackbar-user-status label').click(function() {
            Snackbar.show({
                text: 'Your status has been changed!',
                pos: 'bottom-center',
                showAction: false,
                actionText: "Dismiss",
                duration: 3000,
                textColor: '#fff',
                backgroundColor: '#383838'
            });
        });
    </script>
    </body>
{% endblock %}

